body{
    font-family: sans-serif;
    padding: 10%;
    text-align: center;
}
h1{
    color: #E41886;
}
form{
    margin: 0 auto;
    width: 300px;
}
input, select, textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border:1px solid #ccc;
}
input[type="submit"]{
    border:none;
    padding: 20px;
    background: #E41886;;
    color:#fff;
    width: 50%;
}